<section class="content-header">
  <h1>Inscrições para eventos</h1>
  <%= breadcrumb_links %>
</section>

<section class='content'>
  <%= div_col_tag('12') do %>
    <table id="forms_index_table" data-source="<%= forms_path(format: :json) %>" class='table table-striped'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome do Formulário</th>
          <th>Data inicial</th>
          <th>Data final</th>
          <th>Ativo?</th>
          <th>Cadastros</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</section>