<p>Olá <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos entrando em contato para te avisar que seu e-mail foi mudado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos entrando em contato para te avisar que seu e-mail foi mudado para <%= @resource.email %>.</p>
<% end %>
